a{
    display: block;
    font-weight: bold;
    color: blue;
    background: beige;
    width: 200px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    margin:0 auto;
    margin-top: 10px;  
}
a:hover {
    background: aquamarine;
    color: blanchedalmond;
}
a:focus {
    background: coral;
    color: brown;
}
a:active{
    border: 3px solid cornsilk;
}
ul{
    list-style-type: upper-alpha;
    list-style-type: square;
    
}