body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, times news romans;
  font-size: 150%;
}
header{
    background-color: antiquewhite;
}
nav {
    background-color: azure;
}
main {
    background-color: cornsilk;
    font-size: 150%;
}
footer{
    background-color: ivory;
}
li {
    display: block;
    width: 120%;
}
h1 {
    text-align: justify-all;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, times news romans;
    color: gainsboro;
}
p{
    line-height: 150%;
}