div {
    display: grid;
    grid-template-columns: 25% 25% 25%;/*200px 200px 200px*/
    justify-content: center;
}
main {
    display: grid;
    grid-template-columns: 30% 35% 40%;/*200px 200px 200px*/
    justify-content: space-evenly;
}
p {
    display: flex;
    height: 1000px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
ul {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;     
}
li {
    list-style-type: upper-roman;
    
}
.current {
    text-transform: uppercase;
    border-bottom: 2px solid black;
}

section {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    column-gap: 15px;
    
    
        
}
footer {
    background-image: url("BaconGallupPark.jpg");
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .5;
        
}